<section class="block container">
    <header class="block__header">
        <h2>Hose on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, labore!</p>
    </header>
    <div class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href = "images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi ipsum consequatur, perspiciatis ducimus consequuntur ullam blanditiis molestiae corrupti nesciunt delectus fuga unde nobis quia dolore pariatur quod modi nihil harum animi neque! Excepturi ratione provident maxime. Perspiciatis, sit fugit eos quae, similique laborum nobis reprehenderit et, architecto beatae eum?</p>
            <a class = "link-arrow" href="#">Learn More</a>
        </div>
        <picture class="right-side">
            <img class = "feature__image"src="images/easy.jpg" alt="">
        </picture>
    </div>
    <div class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href = "images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">WordPress made easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi ipsum consequatur, perspiciatis ducimus consequuntur ullam blanditiis molestiae corrupti nesciunt delectus fuga unde nobis quia dolore pariatur quod modi nihil harum animi neque! Excepturi ratione provident maxime. Perspiciatis, sit fugit eos quae, similique laborum nobis reprehenderit et, architecto beatae eum?</p>
            <a class = "link-arrow" href="#">Learn More</a>
        </div>
        <picture class="right-side">
            <img class = "feature__image"src="images/easy.jpg" alt="">
        </picture>
    </div>
</section>