.nav_items {
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid red;
}

input {
  display: inline;
}

ul {
  font-family: Helvetica;
  background-color: black;
  color: white;
  font-size: 32px;
  padding: 5px;
  list-style-type: none;
}

.input {
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: 0;
  color: var(--color-heading);
  font-size: 1rem;
  display: flex;
  justify-content: right;
}

.main_section_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
